@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 30px; /* mesma altura do #topo */
  scroll-behavior: smooth;
}

#topo {
  background-image: linear-gradient(90deg, rgb(0, 39, 107), rgb(83, 94, 215), rgb(133, 205, 241) );
  width: 100%;
  height: 60px;
  box-shadow: 0px 0px 8px rgb(0, 0, 0);
  
  position: fixed;   /* faz a barra ficar fixa */
  top: 0;            /* posiciona no topo da página */
  left: 0;           /* alinha à esquerda */
  z-index: 1000;     /* garante que fique acima de outros elementos */

  display: flex;           /* deixa o container flexível */
  align-items: center;     /* centraliza verticalmente */
  justify-content: flex-start; /* alinha à esquerda (ou center, right, space-between) */
  padding: 0 20px;         /* dá espaçamento nas laterais */
}

#topo img{
  width: 130px;
  height: auto;
  object-fit: contain; /* mantém proporção */
}

.container {
  display: flex;
}

.container#p1 {
  scroll-behavior: smooth;
  background-color: #fff;
  width: 100%;
  height: 140px;

  flex-wrap: nowrap;        /* impede quebra de linha */
  overflow-x: auto;         /* scroll horizontal */
  align-items: center;      /* centraliza verticalmente */
  justify-content: center;  /* centraliza horizontalmente */
  gap: 20px;                /* espaço entre os botões */
  padding: 0 10px;          /* espaçamento nas laterais */

  /* scrollbar invisível */
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;     /* Firefox */
}

.container#p1::-webkit-scrollbar { /* Chrome, Safari e Opera */
  display: none;
}

.container#p1::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 3px;
}

.container#p1::-webkit-scrollbar-track {
  background: #fff;
}

.container#p2 {
  flex-direction: row;
  justify-content: center;
}

.box1 {
  width: 700px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 3px 4px 10px rgb(0, 0, 0);
}

.box2 {
  width: 800px;
  min-height: 500px; /* altura mínima */
  height: auto; /* cresce conforme o conteúdo */
  border-radius: 20px;
  box-shadow: 3px 4px 10px rgb(0, 0, 0);
}

.box3 {
  width: 70px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.box3 span {
  line-height: 1.2;
}

.box3 img {
  flex: 1;
  width: 200%;
  height: auto;
  object-fit: cover;
}

.box3:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.623);
}

.item {
  flex: 0 0 auto; /* faz cada item não encolher nem expandir, mantendo tamanho */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nomeB {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

  margin-top: 8px;
  font-size: 0.95rem;
  color: #000000;
  text-align: center;
}

#anuncios {
  margin: 0px 30px 30px 30px;
}

#sobre {
  background-image: linear-gradient(45deg, rgb(0, 39, 107), rgb(83, 94, 215), rgb(133, 205, 241) );
  margin: 0px 30px 30px 0px;
}

#sobre h2{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

  font-size: 50px;
  color: white;

  width: 400px;
  height: auto;
  text-align: left;
  margin: 20px 20px auto;
}

#sobre p{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;

  font-size: 15px;
  color: white;

  width: 500px;
  height: auto;
  text-align: left;
  margin: 20px 20px auto;
}


#metadeB {
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.726);
  margin:auto;
  border-radius: 0px;
}

/* Carrossel topo */
.swiper-topo {
  width: 100%;
  height: 300px; /* ajuste a altura do topo */
  margin: 0px auto 0px auto;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.76);
}

.swiper-topo .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-topo .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Carrossel-anuncios*/
.swiper-anuncios {
  width: 800px;
  min-height: 500px;
  border-radius: 20px;
  overflow: hidden;
}

.swiper-anuncios .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-anuncios .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

