* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: blue;
}

#topo {
  background-color: aquamarine;
  width: 100%;
  height: 60px;
  margin: auto;
}

.container {
  display: flex;
}

.container#p1 {
  flex-direction: row;
  justify-content: center;
}

.box1 {
  width: 500px;
  height: 1030px;
  border-radius: 20px;
}

#sobre {
  background-color: cadetblue;
  margin: 30px 30px 30px 0px;
}

.container#p2 {
  flex-direction: column;/* empilhadas */
  flex-direction: row-reverse;
  flex-direction: column-reverse;
}

.box2 {
  width: 800px;
  height: 500px;
  border-radius: 20px;
}

#anuncios {
  background-color: blueviolet;
  margin: 30px 30px 30px 30px;
}

.container#p3 {
  flex-wrap: wrap;     /* quebra linha conforme a quantidade */
  gap: 16px;
  justify-content: space-between;
  padding: 20px;
}

.box3 {
  flex: 1 1 160px;        /* tamanho mínimo */
  max-width: 220px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 16px;
  background: #1f3c88;
  aspect-ratio: 1 / 1;   /* largura = altura */
  border-radius: 50%;

  text-decoration: none;
  color: white;
  text-align: center;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.box3 img {
  width: 60%;
  height: auto;
  object-fit: contain;
}

.box3:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

#departamentos {
  background-color: brown;
  margin: 0px 30px 30px 30px;
}
