* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #222;
    line-height: 1.6;
}

/* HERO */
.hero {
    height: 90vh;
    background: url("img_dbv/fotos/1200x900_gala.jpg") center/cover no-repeat;
    position: relative;
}

.overlay {
    height: 100%;
    background: rgba(0, 0, 0, 0.39);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.overlay h2 {
    font-size: 2rem;
    margin: 10px 0;
}

.overlay p {
    font-style: italic;
    color: #ffd700;
}

/* SECTIONS */
.section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0b3d2e;
}

.section p {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

/* DARK SECTION */
.dark {
    background-color: #0b3d2e;
    color: white;
}

.dark h2 {
    color: #ffd700;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* LISTA */
.lista {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.lista li {
    color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.um {
    background: blue;
}

.dois {
    background: red;
}

.tres {
    background: green;
}

.quatro {
    background: gray;
}

.cinco {
    background: purple;
}

.seis {
    background: yellow;
}



/* LIDERANÇA */
.lideranca {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.lider {
    background: #e0e0e0;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

/* GALERIA */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.foto {
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.foto:hover img {
    transform: scale(1.1);
}

/* FOOTER */
footer {
    background: #111;
    color: #ccc;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {

    /* HERO */
    .hero {
        height: 70vh;
    }

    .overlay h1 {
        font-size: 2rem;
    }

    .overlay h2 {
        font-size: 1.4rem;
    }

    .overlay p {
        font-size: 0.9rem;
    }

    /* SECTIONS */
    .section {
        padding: 40px 15px;
    }

    .section h2 {
        font-size: 1.5rem;
    }

    .section p {
        font-size: 0.95rem;
        text-align: justify;
    }

    /* CARDS (Atividades) */
    .cards {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .card {
        font-size: 0.95rem;
        padding: 15px;
    }

    /* LISTA DE CLASSES */
    .lista {
        flex-direction: column;
        align-items: center;
    }

    .lista li {
        width: 80%;
        text-align: center;
        font-size: 0.95rem;
    }

    /* LIDERANÇA */
    .lideranca {
        grid-template-columns: 1fr;
    }

    .lider {
        font-size: 0.95rem;
        padding: 15px;
    }

    /*GALERIA*/
    .galeria {
        grid-template-columns: 1fr;
    }

    .foto img {
        height: 100%;
    }

    /* FOOTER */
    footer {
        font-size: 0.8rem;
        padding: 15px;
    }
}