body {
    margin: 0;
    min-height: 100vh;
    position: relative;

    background-image: url(img_dbv/fundo/fundo_pc.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* CELULAR */
@media (max-width: 768px) {
    body {
        background-image: url("img_dbv/fundo/fundo_cell.png");
        background-attachment: scroll; /* importante no celular */
    }
}


/*Cabeçalho e titulos*/

.titulo {
    width: 400px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}


#t1 {
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -100px auto 30px auto;
    padding-top: 130px;
    border-radius: 100px;
    box-shadow: 2px 1px 10px rgb(0, 0, 0);
    gap: 0px;

}

#g1{
    background-image: url("img_dbv/DBV_logo.png");
    width: 140px;
    height: 150px;
    background-size: contain; /* ajusta imagem inteira dentro do elemento */
    background-repeat: no-repeat; /* evita repetir */
    background-position: center; /* centraliza */
}

#g2{
    margin: 0px;
    padding: 30px;
}

#t2 {
    margin: -30px auto 10px auto;
}

/*Bloco da imagem/explicação*/

.blocopai#p1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 100px auto 100px;
    border: 5px outset #D93829;
    border-radius: 10px 20px 30px 40px;
    background-image: linear-gradient(45deg, #F2BC1B, #F2921D);
    box-shadow: 3px 5px 16px rgb(0, 0, 0);
    gap: 0px;
}

#b1 {
    margin: auto auto auto 30px;
    width: 400px;
    height: 324px;
    background-image: url(img_dbv/fotos/500x500.png);
    background-size: contain;
    border: 5px ridge #ffffff;
    border-radius: 10px;

}

#b2 {
    text-align: left;
    margin: 0px;
    padding: 30px;
}

/*Carrosel feito com Bootstrap5 e IA*/

.carousel {
    max-width: 500px;
    /*comprimento*/
    margin: 10px auto;
}

.carousel-item {
    max-height: 400px;
    /*altura*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Bloco carrosel*/

.blocopai#p2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px -20px 100px -20px;
    border: 5px solid rgb(207, 104, 8);
    border-radius: 10px;
    background-color: bisque;
    gap: 50px;
}

#c1 {
    margin: 80px 0px 20px 0px;

}

#c2 {
    text-align: left;
    margin: 0px 0px 0px 0px;
    border: 2px solid gray;
    background-color: white;
    border-radius: 5px;
    width: 40%;
}

#c2 p {
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

/*Formulario*/

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;

    padding: 10px;
    margin-bottom: 20px;
}

.formulario legend {
    text-align: center;
    padding: 0px 0px;
    font-weight: bold;
    color: gray;
}

input,textarea {
    width: 100%;
}

button {
    align-self: center;
    padding: 12px 20px;

    background-color: gray;
    color: #fff;

    border: none;
    border-radius: 10px;

    font-size: 16px;
    cursor: pointer;
}